/*.banner {
    
    background-attachment: fixed;
    background-image:url(images/overlay.png), url(images/banner.jpg) ;
    

    
    background-size: cover;
    width:100%;
    position: relative;
  

}
.banner:after{
	height: 100%;
	content: '';
	position: absolute;
	width: 100%;
	top:0;
	right: 0;
	background: rgba(0,0,0,0.7);
}*/
.banner{
    
     background-image:url(images/overlay.png), url(images/banner.jpg) ;
         background-position: center top;
    background-size: cover;
    line-height: 1.75;
    text-align: center;
    background-attachment: fixed;
}

.navbar-default{
    background: transparent;
    border: none;
   
}
  .header{
	position: relative;
	font-family: raleway;
	font-size: 18.3333px;
	z-index: 5;
	padding: 40px 0;
        padding-bottom: 150px;
 }


.navbar-default .navbar-nav>li>a {
    color: #fff;
   
  }
  .navbar-default .navbar-nav>li>a:hover {
    color:#fff;
  }
  .header h1{
      font-size: 18.3333px;
      color:#fff;
  }
.header h1 a {
    color: #FFF;
    text-decoration: none;
}
.banner h2{
    color: #fff;
    font-size: 3.5em;
    line-height: 1.35;
    margin-bottom: 0.5em;
    font-weight: 700;
   
}
.banner p{
    color: #aaa;
    font-size: 1.5em;
    margin-bottom: 1.75em;
 }
.btn-xl{
        color:#fff;
        background-color:#f32853;
        border-color:#f32853;
        border-radius: 3px;
        font-size: 1.35em;
        border-radius: 4px;
         border:0;
        font-weight:700;
        height: 3.15em;
        line-height: 3.25em;
        padding: 0 2.2em;
       margin-bottom: 30px;
     }
     .btn-xl:hover{
         background :#yellow; 
         
     }
     .km-sect{
         padding-bottom: 150px;
        
     }
     .km-top{
         padding:80px;
         
     }
     .km-font h2{
         font-weight: 700;
         font-size: 3em;
    line-height: 1.50;
    color:#484848;
        
     }
     .km-font p{
        font-size:15px;
         line-height:2;
         margin: 0 0 2em 0;
         margin-top: 15px;
    }
    .sub-head p{
        color: #aaa;
        font-size: 1.7em;
    }
    .banner1{
        background-color:#f6f6f6;
    }
   
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.box-caption {
    background-color: #fff;
    box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.15);
    display: block;
    padding: 2em 1em;
    margin-bottom: 30px;
     }
h3{
    font-size: 1.35em;
    line-height: 1.5em;
    font-weight: 700;
}
.km-btn{
    margin-right:15px;
}
.km-btn1{
    margin-left:-12px;
    background-color: #3e3c45;
}
/*.img-circle {
    border: solid 0.5em rgba(144, 144, 144, 0.25);
    border-radius: 100%;
}
.timeline-panel{
    float: left; 
}*/
/*.feature-grid {
    position: relative;
}*/

/*
.feature-grid .feature {
    display: inline-block;
    float: left;
    margin-bottom: 3em;
    width: 50%;
}
.feature:nth-child(odd) .image {
    float: right;
    margin-right: 5%;
    text-align: right;
}
.feature-grid .feature .image {
    width: 30%;
}
.image.rounded {
    border-radius: 100%;
}
feature-grid .feature .image img {
    display: inline;
    max-width: 100%;
}
.image.rounded img {
    border: solid 0.5em rgba(144, 144, 144, 0.25);
    border-radius: 100%;
}
.feature-grid .feature .content {
    float: right;
    margin-right: 5%;
    text-align: right;
}
.feature-grid .feature .content {
    width: 60%;
}
feature-grid .content {
    float: left;
    margin-left: 5%;
    text-align: left;
}*/


.rounded{
   
    float:left;
}
.feature{
    background: red;
    width:40%;
}
        
.clearFix{
    content:'';
    display: table;
    clear: both;
}












